# --- Python & Environment ---
venv/
.venv/
env/
.env
__pycache__/
*.py[cod]
*$py.class
*.so
.python-version

# --- Jupyter Book & Build ---
_build/

# --- Project Specific ---
Pendat/
.ipynb_checkpoints/
.jupyter/
*.log

# --- IDE & Editors ---
.vscode/
.idea/
*.swp
*.swo
.project
.pydevproject
.settings/

# --- OS Specific ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db